{% extends "sm_00/index.html" %}
{% block content %}
{% if region %}
<h1>Deatails of region: {{ region }}</h1>

    {% if items %}
    <h2>Items</h2>
    <ul>
        {% for item in items %}
            <li>{{ item }}: {{ item.get_amount }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if housing %}
    <h2>Locations:</h2>
    <ul>
        {% for loc, prop in housing.items %}
        <li>{{ loc.get_name }}</li>
        <ul>
            {% for k, v in prop.items %}
            <li>{{ k }}: {{ v }}
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endif %}

    {% if farming %}
    <h2>Farming Fields</h2>
    <ul>
        {% for loc, prop in farming.items %}
        <li>{{ loc.get_name }}</li>
        <ul>
            {% for k, v in prop.items %}
            <li>{{ k }}: {{ v }}
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endif %}

    {% if inhabitants %}
    <h2>Inhabitants</h2>
    <ul>
        {% for sl in inhabitants %}
            <li><a href="{% url 'slave:detail' sl.pk %}"> {{sl }}</a> - {{sl.get_age}}</li>
        {% endfor %}
    </ul>
    {% endif %}


{% else %}
    <h2>Wrong region ID!</h2>
{% endif %}

{% endblock content %}
