{% extends "sm_00/index.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'slave/style.css' %}" />
<script type="text/javascript" src="{% static 'scripts/main.js' %}">alert_me();</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Foundation & FontAwesome -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>

<h1>{{ slave.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>Slave was born: {{ slave.date_birth }}</li>
    <li>Slave is alive: {{ slave.is_alive }}</li>
    <li> Age: {{ slave.get_age }}</li>
    <li>Is a kid: {{ slave.is_child }}</li>
    <li>Is a adult: {{ slave.is_adult }}</li>
    <li>Slave Sex: {{ slave.sex }}</li>
    <li>Idle: {{ slave.is_free }}</li>
</ul>

<h3>Trained Skills</h3>
<table class="skill_table" width="400px">
    <tr>
        <th class="skill_level_th">Dif</th>
        <th class="skill_th">Skill</th>
        <th class="skill_level_th">Level</th>
        <th class="skill_level_th">Exp</th>
    </tr>
    {% for skill, level in slave.get_trained_skills.items %}
    <tr>
        <td class="skill_level_td">{{ skill.difficulty }}</td>
        <td class="skill_td">{{ skill.name }}</td>
        <td class="skill_level_td">{{ level }}</td>
        <td class="skill_level_td">?</td>
    </tr>
    {% endfor %}
</table>
<br><br>

<form action="{% url 'slave:set_skill' slave.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="exp" id="exp" value="" />
    <select name="skill" id="skill">
        {% for skill in slave.get_available_skills %}
            <option value="{{ skill.id}}">{{ skill.name }}</option>
        {% endfor %}
    </select>

        <input type="submit" value="Boost skill" />
</form>

{% if slave.is_free %}
###############
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <a href="/logout" class="right">Logout</a>
        <h2>Hi, {{request.user.username}}</h2>
    </div>
</div>
<div class="row white">
    <div class="columns large-12">
        <form action="create_post/" method="POST">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.text }}
            </div>
            <input type="submit" value="Post" class="tiny button">
        </form>
    </div>
</div>

<!-- The feed -->
<div class="row white">
    <div class="columns large-12">
        <ul>
            {% for post in all_posts %}
                <li>
                    <strong>{{ post.text }}</strong> -
                    <em>{{ post.author }}</em> -
                    <span>{{ post.created }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>



<br><br>##############<br><br>
<form action="{% url 'slave:assign_task' slave.id %}" method="post">
    {% csrf_token %}
        {{ assign_form }}
        <input type="submit" value="Submit" />    
</form>
{% endif %}

<h3>Assignments</h3>
<table class="task_table" width="800px">
    <tr>
        <th class="task_type_th">Type</th>
        <th class="task_details_th">Details</th>
        <th class="task_date_th">Start</th>
        <th class="task_date_th">Finish</th>
        <th class="task_flag_th">Finished</th>
        <th class="task_flag_th">Retrieved</th>

    </tr>
    {% for task in slave.assignment_set.all %}
    <tr>
        <td class="task_type_td">{{ task.get_task.get_type }}</td>
        <td class="task_details_td"></td>
        <td class="task_date_td">{{ task.get_date_assigned}}</td>
        <td class="task_date_td">{{ task.get_date_released }}</td>
        <td class="task_flag_td">{{ task.get_task.is_finished }}</td>
        <td class="task_flag_td">{{ task.get_task.is_retrieved }}</td>
    </tr>
    {% endfor %}
</table>
<br><br>

<form action="{% url 'slave:assign_task' slave.id %}" method="post">
{% csrf_token %}
    <input>

</form>

<br><br>

<form action="{% url 'slave:make_happy' slave.id %}" method="post">
{% csrf_token %}
    <input type="text" name="happiness" id="happiness" value="{{ slave.happiness }}" />
    <label>Current {{ slave.happiness }}</label><br />
<input type="submit" value="Make Happy" />
</form>
{% endblock content %}

