{% extends "sm_00/index.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'slave/style.css' %}" />
        
{% if slaves_list %}
    <ul>
    {% for slave in slaves_list %}
        <li><a href="{% url 'slave:detail' slave.id  %}">{{ slave.name }}</a></li>
    {% endfor %}
</ul>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if  page_obj.has_previous %}
                    <a href="?page={{  page_obj.previous_page_number }}">&lt; &lt; &lt;</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{  page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&gt; &gt; &gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% else %}
    <p>No slaves</p>
{% endif %}
{% endblock content %}


